{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div>
        <form method="get">
            <label for="aq"">Search authors</label>
            <input type="hidden" name="type" value="authors">
            <input type="text" name="q" id="aq" />
            <input type="submit" value="Search">
        </form>
    </div>

    <div>
        <form method="get">
            <label for="bq"">Search books</label>
            <input type="hidden" name="type" value="books">
            <input type="text" name="q" id="bq" />
            <input type="submit" value="Search">
        </form>
    </div>

    {% for book in books %}
    <div class="row">
        <h3>{{ book.title }}</h3>
        <h4>{% for author in book.authors %}
            {{ author.name }}
            {% endfor %}
        </h4>
        {{ book.summary }}
    </div>
    {% endfor %}

    {% for author in authors %}
    <div class="row">
        <h3>{{ author.name }}</h3>
        {{ author.description }}
    </div>
    {% endfor %}


</div>
{% endblock %}
